<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<h1>店舗一覧</h1>
		<% @stores.each do |store| %>
		<table>
			<thead>
				<tr>
					<th>店舗名</th>
					<th>住所</th>
					<th>TEL</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= link_to store.store_name, stores_store_path(store.id) %></td>
					<td><%= store.address %></td>
					<td><%= store.phone_number %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>